/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans JP";
}

html{
	font-size: 16px;
}

body{
	font-size: 100% !important;
}

main{
	background-color: whitesmoke;
}

p{
	margin-bottom: 0 !important;
}

.loader {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #e74c3c;
  position: relative;
  animation: load 2s linear infinite;
}

.loader::before,.loader::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid #e67e22;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid #3498db;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  font-size: small;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}

.profiler-results{
	display: none !important;
}

.header_2{
	display: grid;
	width: 100%;
	min-height: 70px;
	padding: 5px;
	background-color: navy;
	color: white;
}

.header_user_menu{
	min-width: 250px;
	box-shadow:	0 0 20px black;
	position: absolute;
	right: 5px;
	background-color: white;
	z-index: 5;
}

.header_user_menu *{
	color: black !important;
}

.header_user_menu a:hover{
	text-decoration: none;
	background-color: aliceblue;
}

.header_user{
	cursor: pointer;
	user-select: none;
	transition: 0.4s;
}

.header_user:hover{
	background-color: rgba(255, 255, 255, 0.2);
	transition: 0.1s;
}

.header_2 a{
	text-decoration: none;
	color: white;
}

.header_link:hover{
	text-decoration: underline 1px solid;
	color: white;
	opacity: 0.7;
}

.header_link{
	margin: 0 10px;
}

.header_link svg{
	font-size: 30px;
}

.header_user svg{
	font-size: 24px;
}

footer{
	display: flex !important;
	height: 50px;
	width: 100%;
	background-color: aliceblue;
	border-top: 1px solid lightgray;
}

table caption{
	caption-side: top;
}

.editor{
	white-space: nowrap;
	width: 1px;
}

.login_form>div{
	width: 400px;
}

.destination_selector{
	width: 250px;
	min-height: 300px;
}

form textarea.form-control {
  resize: both;
  height: 300px;
  width: 500px;
}

.text-lightgray{
	color: lightgray;
}

.unread{
	border: 1px solid orange !important;
    background-color: blanchedalmond !important;
}

.unread_td{
	border-top: 1px solid orange !important;
	border-bottom: 1px solid orange !important;
}

.comment_datetime{
	font-size: 85%;
	color: gray;
}

select[multiple="multiple"]{
	overflow: auto;

	option{
		width: fit-content;
		min-width: 100%;
	}
}

th, td{
	vertical-align: middle !important;
}

.image_in_body{
	max-width: 800px;
}

.bottom-0{
	bottom: 0;
}

.pagination{
	justify-content: center;

	>span{
		// display: inline-block;
		// border: 1px solid #333;
		margin: 0 5px;
		padding: 0;
		}
	a, .current{
		display: inline-block;
		padding: 1px 3px;
	}
	.gap{
		border: none;
	}
}

.modal{
	.modal-content{
		min-height: 100px;
	}
	.modal-header{
		background-color: royalblue;
		.modal-title{
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	   }
	}
	.modal-footer{
		background-color: whitesmoke;
		justify-content: space-evenly;

		form{
			display: inline-block;
		}
	}
}

.profile_image{
	height:	50px;
	width: 50px;
	object-fit: cover;
}

.overflow_ellipsis{
	min-width: 15em !important;
	max-width: 30em;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-editor{
	resize: horizontal;
	overflow: auto;
	width: 1000px;
	min-width: 700px;
	max-width: calc(100vw - 200px);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	.note-editable{
		background-color: white;
		min-height: 300px;
	}
	.note-dropdown-menu{
		box-sizing: content-box;
		left: unset;
		right: 0;
	}
	.note-style .dropdown-style{
		white-space: nowrap;
		right: unset;
		left: 0;
	}
	.dropdown-toggle::after{
		display: none;
	}
	.note-dropzone{
		display: none !important;
	}
	.note-modal-footer{
		padding: 0;
		margin: 0 10px;
	}
	.dropdown-fontsize, .dropdown-style{
		a, a:hover{
			margin: 0;
		}

	}
}

ol, ul, dl{
		margin-left: 1.5em
	}




#calendar{
	$sunday: #ffaacc;
	$saturday: #88ccff;
	table{
		table-layout: fixed;
		font-size: 90%;
		
		.weekname.sunday{
			background-color: $sunday;
		}
		
		.weekname.saturday{
			background-color: $saturday;
		}
		
		td.selected{
			border: 2px solid orange;
			background-color: blanchedalmond;
			box-shadow: 0 0 10px black;
		}
		
		thead th{
			border-bottom: 1px darkgray solid;
		}
		
		.sunday, .holiday{
			.day{
				background-color: $sunday;
			}
		}
		
		.saturday .day{
			background-color: $saturday;
		}
		
		.no_included{
			color: darkgray !important;
			.day{
				background-color: unset !important;
			}
		}
		
		.today{
			background-color: #ccff88;
			.day{
				font-weight: bold;
			}
		}
		
		.day{
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			user-select: none;
		}
		
		#this_month{
			width: 6em;
		}
		
		.datetime{
			width: 1px;
		}
		
		.schedule a{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		.all_day{
			border: 1px solid navy;
			border-radius: 2px;
			background-color: lighten(navy, 40%);
			color: white;
			a{
				color: white;
				padding: 0 0.25em;
			}
			a:hover{
				color: darken(white, 10%);
			}
		}
		
		.no_all_day{
			a{
				color: black;
			}
		}
	}
}

