<% content_for :title, "エラー" %>
<div class="p-3">
	<h3><i class="fa-solid fa-triangle-exclamation text-warning mr-3"></i>エラー</h3>
	<div class="ml-4">
		<p>指定されたページへのアクセス権がありません。 </p>
		<%= link_to "javascript:history.back();" do %>
			<i class="fa-solid fa-circle-arrow-left"></i>戻る
		<% end %>
	</div>
</div>